button {
    margin: 3px;
    padding: 10px 16px;
    border: 2px dashed rgb(0, 0, 0);
    border-radius: 20px;
    background-color: rgb(200, 100, 40);
    cursor: pointer;
}

button:hover {
    background-color: rgb(0, 255, 100);
}